.page-footer {
    border-top: 0.5px solid var(--border-gray);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 14px;
        font-family: var(--font-poppins);
    }
}