.primary-btn {
  border: 2px solid var(--border-white);
}

.highlighted-btn,
.primary-btn {
  &:hover {
    border-color: var(--border-cornsilk);
  }
}

.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
}

.profile-parent {
  display: flex;
  align-items: center;
  color: var(--text-white);
  font-family: var(--font-poppins);
}

.primary-text {
  color: var(--text-white);
  font-family: var(--font-poppins);
}

.highlighted-text {
  color: var(--text-highlighted);
  font-family: var(--font-poppins);
}

.profile-details {
  &-name {
    font-size: 24px;
    font-family: var(--font-poppins);
    font-weight: 600;
  }

  &-role {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;

    h1 {
      font-size: 40px;
      font-family: var(--font-poppins);
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 0.5rem;

      p {
        display: block;
        margin: 1em 0;
        margin-inline: 0;
      }
    }
  }
}

.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: var(--font-poppins);
  font-weight: 400;
}

.profile-options {
  display: flex;
  justify-content: center;
  column-gap: 28px;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 5px var(--overlay-white-20);
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
  position: relative;
  border: 3px solid var(--border-white);
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 25px 8px var(--overlay-white-20);
    transform: translateY(-5px);
  }
}

.profile-picture-background {
  height: 92%;
  width: 92%;
  border-radius: 50%;
  background-image: url("/images/Home/profilephoto.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.8s ease-out, filter 0.3s ease-in-out;

  &:hover {
    transform: scale(1.07) rotate(2deg);
    filter: brightness(1.1) contrast(1.1);
  }
}

.colz {
  .colz-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    i {
        color: var(--text-white);
        font-size: 20px;
        transition: transform 0.3s ease;
    
        &:hover {
          transform: scale(1.2);
        }
    }
  }
}

/* For 4k resolution */
@media only screen and (min-width: 1920.98px) {
  .profile-parent {
    width: 100%;
    justify-content: space-evenly;
  }
}

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0px 0 80px;
  }

  .profile-details-name {
    font-size: 20px;
  }

  .profile-details-role .primary-text {
    font: 12px;
  }

  .highlighted-btn,
  .primary-btn {
    width: 120px;
    padding: 10px 0;
    z-index: 700;
  }
}

@media only screen and (max-width: 991.98px) {
  .profile-picture {
    margin: 0 0 0 4px;
    height: 320px;
    width: 320px;
  }
}

@media only screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }

  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }

  .profile-options {
    justify-content: space-evenly;
    column-gap: 12px;
  }

  .profile-details {
    width: 95%;
    margin: 25px 0 0;

    &-role .primary-text > h1 {
      height: 84px;
    }

    &-name,
    &-role {
      text-align: center;
    }
  }

  .highlighted-btn {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
}